@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: h;
    background-color: #98c415;
}

.header img {
    width: 50px;
    border: 3px solid #ef852e;
    border-radius: 25%;
    margin: 5px 15px;
}

.header div {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 34px;
    color: #ffffff;
}

