.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: h;
    background-color: #98c415;
}

.header img {
    width: 50px;
    border: 1px solid #98c415;
    border-radius: 50%;
    margin: 5px 20px;
}

.header div {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

