@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-gap: 5px;
}






